/* bitter-regular - latin */
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/bitter-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/bitter-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

:root {
    --font-sans-serif: 'Open Sans';
    --font-serif: 'Bitter';

    --color-theme: #9b49a6;
    --color-theme-lighter: #f0e3f2;
    --color-theme-darker: #693271;

    --color-white: #fff;

    --color-black: #123;

    --color-grey: #fafafa;
    --color-grey-lighter: #efefef;
    --color-grey-darker: #ccc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-grey);
}
header {
    padding: 20px;
}
main {
    box-sizing: border-box;
    margin: 0 auto;
}
@media (min-width: 800px) {
    main {
        width: 800px;
    }
}
footer {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
}
@media (min-width: 800px) {
    footer {
        width: 800px;
    }
}

/* Headings */
.heading--level-1 {
    font: 400 30px var(--font-serif), serif;
}
.heading--centered {
    text-align: center;
}

/* Texts */
p,
.text {
    font: 14px var(--font-sans-serif), sans-serif;
}
small,
.text--small {
    font-size: 12px;
}

/* Links */
.link {
    color: var(--color-theme);
    text-decoration: none;
    transition: color 0.3s ease;
}
.link:hover {
    color: var(--color-theme-darker)
}

/* Rules */
.horizontal-rule {
	height: 1px;
	border-width: 0;
	color: var(--color-grey-lighter);
	background: var(--color-grey-lighter);
}
.horizontal-rule--narrow {
    width: 60%;
    margin: 0 auto;
}

/* Form elements */
.form__label {
    position: relative;
    display: inline;
    color: var(--color-black);
    font: 14px var(--font-sans-serif), sans-serif;
}

.form__text {
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid var(--color-grey-darker);
    border-radius: 4px;
    background-color: var(--color-white);
    color: var(--color-black);
    font: 14px var(--font-sans-serif), sans-serif;
}
.form__text[readonly],
.form__text[disabled] {
    background-color: var(--color-grey-lighter);
}
.form__text--multiline {
    min-height: 45px;
    resize: vertical;
}
.form__text--noresize {
    resize: none;
}
.form__text--bold {
    font-weight: bold;
}
.form__text--centered {
    text-align: center;
}
.form__text--collapsed {
    margin: 0;
}

.form__select {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid var(--color-grey-darker);
    border-radius: 4px;
    background-color: var(--color-white);
    color: var(--color-black);
    font: 14px var(--font-sans-serif), sans-serif;
}

.form__details-content {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px;
    border-radius: 4px;
    color: var(--color-white);
    background-color: var(--color-theme);
}
.form__details-opener {
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    right: -20px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-theme);
}
.form__details-opener::-webkit-details-marker,
.form__details-opener::marker {
    display: none;
    content: '';
}

/* Buttons */
.button {
    cursor: pointer;
    appearance: none;
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    font: 700 14px/25px var(--font-sans-serif), sans-serif;
    border-radius: 4px;
    border: 1px solid var(--color-grey-darker);
    background-color: var(--color-white);
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}
.button--collapsed {
    margin: 0
}
.button:hover,
[hidden]:checked + .button {
    color: var(--color-theme-darker);
    border-color: var(--color-theme-darker);
}
[hidden]:checked + .button {
    background-color: var(--color-theme-lighter);
}

/* Grid */
.grid__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid__column {
    width: 100%;
	box-sizing: border-box;
    padding: 10px 20px;
	flex: 0 0 100%;
}
.grid__row--condensed .grid__column {
    padding: 10px;
}
.grid__column .grid__row {
    margin-left: -20px;
    margin-right: -20px;
}
.grid__column .grid__row--condensed {
    margin-left: -10px;
    margin-right: -10px;
}

.grid__column--centered {
    text-align: center;
}

.grid__column--1 {
    flex-basis: calc(100% / 12 * 1);
	max-width: calc(100% / 12 * 1);
}
.grid__column--2 {
    flex-basis: calc(100% / 12 * 2);
	max-width: calc(100% / 12 * 2);
}
.grid__column--3 {
    flex-basis: calc(100% / 12 * 3);
	max-width: calc(100% / 12 * 3);
}
.grid__column--4 {
    flex-basis: calc(100% / 12 * 4);
	max-width: calc(100% / 12 * 4);
}
.grid__column--5 {
    flex-basis: calc(100% / 12 * 5);
	max-width: calc(100% / 12 * 5);
}
.grid__column--6 {
    flex-basis: calc(100% / 12 * 6);
	max-width: calc(100% / 12 * 6);
}
.grid__column--7 {
    flex-basis: calc(100% / 12 * 7);
	max-width: calc(100% / 12 * 7);
}
.grid__column--8 {
    flex-basis: calc(100% / 12 * 8);
	max-width: calc(100% / 12 * 8);
}
.grid__column--9 {
    flex-basis: calc(100% / 12 * 9);
	max-width: calc(100% / 12 * 9);
}
.grid__column--10 {
    flex-basis: calc(100% / 12 * 10);
	max-width: calc(100% / 12 * 10);
}
.grid__column--11 {
    flex-basis: calc(100% / 12 * 11);
	max-width: calc(100% / 12 * 11);
}
.grid__column--12 {
    flex-basis: calc(100% / 12 * 12);
	max-width: calc(100% / 12 * 12);
}
@media (min-width: 800px) {
    .grid__column--medium-6 {
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
}
